
.header {
    height: 80px;
    width: 800px;
    background-color: bisque;
    text-align: center;
}

.maincontent {
    height: 500px;
    width: 800px;
    background-color: white;
    text-align: center;
}

.footer {
    height: 80px;
    width: 800px;
    background-color: bisque;
    text-align: center;
}

a {
    padding: 75px;
}
